<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-app>
		数字1：<input type="text" ng-model="a" />
		数字2：<input type="text" ng-model="b" />
		<p>结果为：{{(a-0)+(b-0)}}</p>
		<select ng-model="edu">
			<option>小学</option>
			<option >初中</option>
			<option >高中</option>
		</select>
		{{edu}}
	</body>
	<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//1. ng-init用于初始化创建变量   
		//2. ng-model也是用于初始化模型（数据、变量） 但是它只对表单有效
		//3. ng-model  创建一个变量， 将表单的值绑定到这个变量上！！！  {{变量名}} 在其它 地方又能将这个变量的数据绑定到别的元素上
		
	</script>
</html>
